.aboutus {  margin: 20px;  background: #f7f7f7;  }
.aboutus .aboutustitle {  background: url(../../resource/images/lanjl/titlebg.png) no-repeat left top;  height: 40px;  color: #fff;  padding-left: 20px;  font-size: 18px;  line-height: 40px;  }
.centeright h4 {  font-size: 14px;  color: #666;  font-weight: bold;  }
.aboutuscon p {  padding-bottom: 20px;  }
.centeright h4 {  font-size: 14px;  color: #666;  font-weight: bold;  }
.aboutuscon {  padding-left: 20px;  }
.centeright .title-img{margin:20px;}